.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__info {
  background: #f7f7f8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 0 24px 0;
  position: relative;
  box-sizing: border-box;
}

.profile__button {
  position: absolute;
  top: 26px;
  left: 30px;
  border: none;
  outline: none;
  background-image: url("../../images/profile-button-back.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 3;
}

.profile__button:hover {
  transform: scale(1.1);
}

.profile__bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__image {
  width: 104px;
  height: 104px;
  object-fit: cover;
  border-radius: 50%;
}

.profile__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #050510;
  margin: 0;
  margin-top: 24px;
}

.profile__initials {
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: #97979b;
  padding-left: 4px;
}

.profile__specialization {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #55555c;
  margin: 0;
  margin-top: 12px;
}

.profile__contact {
  width: 100%;
  padding-top: 28px;
  display: grid;
  grid-template-areas:
    "date year"
    "tel tel";
}

.profile__date {
  grid-area: date;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050510;
  margin: 0;
  background-image: url("../../images/profile-button-star.svg");
  background-repeat: no-repeat;
  background-size: 20px 19px;
  padding-left: 33px;
  margin-left: 20px;
}

.profile__years {
  grid-area: year;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #97979b;
  justify-self: flex-end;
  margin-right: 20px;
}

.profile__tel {
  grid-area: tel;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050510;
  background-image: url("../../images/profile-button-tel.svg");
  background-repeat: no-repeat;
  background-size: 20px 19px;
  padding-left: 33px;
  margin-top: 48px;
  margin-left: 20px;
}
